@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

:root {
    --cinza: #012A79;
    --bege: #BF948A;
    --vinho: #010626;
    --vermelho: #A61F1F;

}

* {
    font-family: 'Black Ops One', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: var(--cinza) !important;
}

body {
    background-image: url("../resources/bluedot.jpg");
    background-size: cover !important;
}

.group-card {
    overflow: hidden;
}

@media (min-width: 768px) {
    .group-card {
        height: 100%;
    }
}

@media (max-width: 768px) {
    i {
        font-size: 2em;
    }
}

@media (min-width: 768px) {
    i.bi {
        font-size: 4em;
    }
}

.card {
    transition: all 0.4s;
    background-color: var(--vinho);
    word-spacing: -0.1em;
    hyphens: auto;
}

.card:hover {
    transform: scale(1.1);
}

.navbar-nav .nav-link:hover {
    transform: scale(1.1);
    transition: transform 0.4s ease-in-out;
}